
div .background {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.main {
    display: flex;
    align-items: center;
    height: 150px;
    margin-bottom: 30px;
}

.name {
    margin-left: 10px;
    font-size: 25px;
}

.wrapper {
    float: left;
    margin-left: 15px;
    width: 380px;
}
.avatar {
    width: 150px;
    height: 150px;
}
.descr {

}

.contact {
    margin-bottom: 15px;
}

.social {
    margin-bottom: 15px;
}

.basic {
    margin-bottom: 15px;
}

.title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(255, 229, 229, 0.66);
    font-size: 25px;
}