.posts {
    float: right;
    overflow: hidden;
}

.title {
    font-size: 20px;
}

.wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.text {
    display: block;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 17px;
    resize: none;
    border: none;
    outline: inherit;
    outline-color: #fac3c3;
    width: 570px;
    height: 40px;
    border-radius: 5px;
    padding-top: 8px;
}

.add {
    float: right;
    margin-left: 10px;
}

.btn {
    outline: none;
    min-width: 97px;
    border: none;
    height: 35px;
    font-size: 15px;
    background-color: #fdaaaa;
    border-radius: 5px;
    border-width: 2px;
    color: black;
    cursor: pointer;
    transition-duration: .10s;
}

.btn:hover {
    background-color: #fd9696;
    color: white;
}
