.dialogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.avatar {
    width: 50px;
    border-radius: 50px;
    margin-right: 7px;
}

.name {
    color: black;
    text-decoration: none;
    font-size: 20px;
}