.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: h;
    background-color: white;
}

.logo_wrapper{
    display: flex;
    align-items: center;
}

.header .logo {
    width: 60px;
    height: 100%;
    margin-top: 5px;
}

.header .name {
    margin: 0;
    padding: 0;
    margin: 5px 0px 0px 0px;
    user-select: none;
}

.header .login {
}