.nav {
    padding: 5px;
    grid-area: n;
    background-color: white;
}

.profile {
    margin: 20px 0px 5px 0px;
}

.messages {
    margin: 0px 0px 5px 0px;
}

.news {
    margin: 0px 0px 5px 0px;
}

.music {
    margin: 0px 0px 5px 0px;
}

.link.active {
    background-color: #fac3c3;
    color: #ffffff;
}

.link {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.link:hover {
    color: #fd3030;
}

.settings {
    margin-top: 20px;
}