.post {
    /*margin-top: 10px;*/
    padding: 10px 0;
    border-top: 1px solid rgba(255, 229, 229, 0.51);
    overflow: hidden;
    /*background-color: grey;*/
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.likes {
    /*float: right;*/
}