.app-wrapper {
   display: grid;
   margin: 0 auto;
   width: 1250px;
   grid-template-areas:
      "h h"
      "n —Å ";
   grid-template-rows: 60px 1fr;
   grid-template-columns: 2fr 10fr;
   grid-gap: 10px;
}

.app-wrapper__content {
   max-width: 1033.33px;
   background-color: yellow;
}