.app-wrapper {
   display: grid;
   margin: 0 auto;
   max-width: 1250px;
   grid-template-areas:
      "h h"
      "n main";
   grid-template-rows: 60px 1fr;
   grid-template-columns: 2fr 10fr;
   grid-gap: 10px;
}

.app-wrapper__content {
   border-radius: 7px;
   grid-area: main;
   padding: 10px;
   background-color: rgba(98, 98, 98, 0.22);
}