.app-wrapper {
   display: grid;
   margin: 0 auto;
   width: 1250px;
   grid-template-areas:
      "h h"
      "n main";
   grid-template-rows: 60px 1fr;
   grid-template-columns: 2fr 10fr;
   grid-gap: 10px;
}

.app-wrapper__content {
   grid-area: main;
   padding: 10px;
   background-color: rgba(252, 219, 203, 0.18);
}