

.dialogs {
    display: grid;
    grid-template-columns: 2fr 4fr;
}
    .dialogs__wrapper {
        /*width: 30%;*/
        margin-left: 10px;
        border-right: 3px solid white;
        margin-right: 10px;

    }
    .dialogs__messages{
        font-size: 20px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        margin-top: 65px;
    }
        .text {
            padding-left: 10px;
            width: 80%;
            height: 30px;
            outline: none;
            font-size: 20px;
        }
        .send {
            margin-left: 10px;
            height: 35px;
            background-color: white;
            border-radius: 2px;
            border: 1px solid grey;
            outline: none;
            cursor: pointer;
        }